*{
	margin: 0px;
	padding: 0px;
}

#divPrincipal{
	width: 1000px;
	height: 700px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	box-shadow: 10px 10px 5px #888888;
	position: relative;
}

/*----------------------------------------------EXEMPLO DO MENU---------------------------------------------*/
.menuPrincipal{
	background-color: #F0F0F0;	
	height: 40px;	
	padding: 5px;
	text-align: center;/*centraliza todos os textos dentro da classe ou dive principal*/
}

.menuPrincipal ul{
	list-style-type: none;
	display: inline-block;	
}

.menuPrincipal li{
	display: inline-block;	
}

.menuPrincipal ul li a{
	display: inline-block;
	text-decoration: none;
	background-color: #F0F0F0;
	padding: 11px;
	border-radius: 10px;
	color: #383838;
}

.menuPrincipal ul li a:hover{
	background-color: #707070;
	color: white;
}

#home-active a.active{
	background-color: #707070;
}/*aqui faz o esquema de ficar de cor diferente no link tem que colocar id="home-active" no body*/
/*----------------------------------------------EXEMPLO DO MENU---------------------------------------------*/






/*---------------------------PARTE REFERENTE DIV PRINCIPAL----------------------------------*/
.sectionPrincipal{
	height: 545px;
	width: 100%;	
	float: left;	
	margin-top: 5px;	
	margin-bottom: 5px;/*afasto a div debaixo aqui pois como ele ta como float a margin debaixo seria definida a partir do header*/	
}


.sectionPrincipal header{
	text-align: center;	
	height: 40px;	
	background-color: #F0F0F0;
	color: #383838;
	font-family: "Times New Roman", Times, serif;
	font-size: 35px;
}

.sectionPrincipal article{	
	padding: 15px;
	font-size: 25px;
	font-family: Helvetica, Arial, Sans-Serif;	
}
.sectionPrincipal p{
	margin-left: 5px;
	line-height: 16pt; 
	text-align: justify;
	/*text-indent: 2em; /*faz o paragrafo recuar no inicio de cada P em dois em*/
}

.sectionPrincipal article header{	
	background-color: white;	
	height: 20px;	
	font-family: "Times New Roman", Times, serif;
	font-style: oblique;
	font-weight: bold;
	font-size: 25px;
	padding: 20px;
}
.sectionPrincipal ul{
	margin-left: 25px;
	line-height: 26pt; 
	text-align: justify;
	/*text-indent: 2em; /*faz o paragrafo recuar no inicio de cada P em dois em*/
}

/*---------------------------FIM PARTE REFERENTE A DIV PRINCIPAL----------------------------------*/


/*---------------------------Div Pesquisa----------------------------------*/
#pesquisa{
	background-color: #F0F0F0;	
	height: 30px;	
	width:210px;	
	font-size: 20px;	
	text-align: center;/*centraliza todos os textos dentro da classe ou dive principal*/
	margin: auto;
}

#pesquisa a:hover{
	color: red;
}




/*--------------------------------------------------------------Fim div Pesqui------------------------------------------------*/


/*--------------------------------------------------------------FOOTER------------------------------------------------*/
footer {
	height: 40px;
	background-color:  #F0F0F0;	
	margin-top: 10px;	
	text-align: center;
	padding: 20px;	
	clear: both;

}
/*-------------------------------------------------------------FIM FOOTER------------------------------------------------*/